<a href="https://colab.research.google.com/github/sonishrey9/Password-Generator/blob/main/Pysparkstudy1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
pip install pyspark

Requirement already satisfied: pyspark in /usr/local/lib/python3.7/dist-packages (3.2.0)
Requirement already satisfied: py4j==0.10.9.2 in /usr/local/lib/python3.7/dist-packages (from pyspark) (0.10.9.2)

In [2]:
import pyspark
from pyspark.sql import SparkSession

In [3]:

import pyspark
from pyspark.sql import SparkSession
spark = SparkSession.builder.master("local[1]") \
                    .appName('SparkByExamples.com') \
                    .getOrCreate()

In [4]:
df = spark.read.csv("000000_0.csv", sep= "", header=True,inferSchema=True)
df.show()

+------+---------------+---+---------------+---+-------------+-------------------+--------------+--------+---+----+-------+----+-------+
|200507|  ATA Airlines1|TZ2|  ATA Airlines3|TZ4|     Domestic|                 US|      Deplaned|Low Fare|\N9|\N10|2727111|\N12|2727113|
+------+---------------+---+---------------+---+-------------+-------------------+--------------+--------+---+----+-------+----+-------+
|200507|   ATA Airlines| TZ|   ATA Airlines| TZ|     Domestic|                 US|      Enplaned|Low Fare| \N|  \N|  29131|  \N|  29131|
|200507|   ATA Airlines| TZ|   ATA Airlines| TZ|     Domestic|                 US|Thru / Transit|Low Fare| \N|  \N|   5415|  \N|  10830|
|200507|    Air Canada | AC|    Air Canada | AC|International|             Canada|      Deplaned|   Other| \N|  \N|  35156|  \N|  35156|
|200507|    Air Canada | AC|    Air Canada | AC|International|             Canada|      Enplaned|   Other| \N|  \N|  34090|  \N|  34090|
|200507|      Air China| CA|      Air China| CA|International|               Asia|      Deplaned|   Other| \N|  \N|   6263|  \N|   6263|
|200507|      Air China| CA|      Air China| CA|International|               Asia|      Enplaned|   Other| \N|  \N|   5500|  \N|   5500|
|200507|     Air France| AF|     Air France| AF|International|             Europe|      Deplaned|   Other| \N|  \N|  12050|  \N|  12050|
|200507|     Air France| AF|     Air France| AF|International|             Europe|      Enplaned|   Other| \N|  \N|  11638|  \N|  11638|
|200507|Air New Zealand| NZ|Air New Zealand| NZ|International|Australia / Oceania|      Deplaned|   Other| \N|  \N|   4998|  \N|   4998|
|200507|Air New Zealand| NZ|Air New Zealand| NZ|International|Australia / Oceania|      Enplaned|   Other| \N|  \N|   4962|  \N|   4962|
|200507|AirTran Airways| FL|AirTran Airways| FL|     Domestic|                 US|      Deplaned|Low Fare| \N|  \N|   8055|  \N|   8055|
|200507|AirTran Airways| FL|AirTran Airways| FL|     Domestic|                 US|      Enplaned|Low Fare| \N|  \N|   7984|  \N|   7984|
|200507|Alaska Airlines| AS|Alaska Airlines| AS|     Domestic|                 US|      Deplaned|   Other| \N|  \N|  36641|  \N|  36641|
|200507|Alaska Airlines| AS|Alaska Airlines| AS|     Domestic|                 US|      Enplaned|   Other| \N|  \N|  39379|  \N|  39379|
|200507|Alaska Airlines| AS|Alaska Airlines| AS|     Domestic|                 US|Thru / Transit|   Other| \N|  \N|   3678|  \N|   7356|
|200507|Alaska Airlines| AS|Alaska Airlines| AS|International|             Canada|      Deplaned|   Other| \N|  \N|   7977|  \N|   7977|
|200507|Alaska Airlines| AS|Alaska Airlines| AS|International|             Canada|      Enplaned|   Other| \N|  \N|   8837|  \N|   8837|
|200507|Alaska Airlines| AS|Alaska Airlines| AS|International|             Mexico|      Deplaned|   Other| \N|  \N|   6969|  \N|   6969|
|200507|Alaska Airlines| AS|Alaska Airlines| AS|International|             Mexico|      Enplaned|   Other| \N|  \N|  10046|  \N|  10046|
|200507|Alaska Airlines| AS|Alaska Airlines| AS|International|             Mexico|Thru / Transit|   Other| \N|  \N|   2266|  \N|   4532|
+------+---------------+---+---------------+---+-------------+-------------------+--------------+--------+---+----+-------+----+-------+
only showing top 20 rows

In [5]:
from pyspark.sql.functions import *

In [6]:
df.printSchema()

root
 |-- 200507: integer (nullable = true)
 |-- ATA Airlines1: string (nullable = true)
 |-- TZ2: string (nullable = true)
 |-- ATA Airlines3: string (nullable = true)
 |-- TZ4: string (nullable = true)
 |-- Domestic: string (nullable = true)
 |-- US: string (nullable = true)
 |-- Deplaned: string (nullable = true)
 |-- Low Fare: string (nullable = true)
 |-- \N9: string (nullable = true)
 |-- \N10: string (nullable = true)
 |-- 2727111: integer (nullable = true)
 |-- \N12: string (nullable = true)
 |-- 2727113: integer (nullable = true)

In [7]:
print("size of dataframe is ",("Rows :",df.count(),"Columns:", len(df.columns)))

size of dataframe is  ('Rows :', 694, 'Columns:', 14)

In [8]:
dict_null = {col: df.filter(df[col].isNull()).count() for col in df.columns}
dict_null

{'200507': 0,
 '2727111': 0,
 '2727113': 0,
 'ATA Airlines1': 0,
 'ATA Airlines3': 0,
 'Deplaned': 0,
 'Domestic': 0,
 'Low Fare': 0,
 'TZ2': 1,
 'TZ4': 1,
 'US': 0,
 '\\N10': 0,
 '\\N12': 0,
 '\\N9': 0}

## **Dropped columns having null values ['\\N10', '\\N12','\\N9']**

In [9]:
columns_to_drop = ['\\N10', '\\N12','\\N9']
df = df.drop(*columns_to_drop)

In [10]:
df.printSchema()

root
 |-- 200507: integer (nullable = true)
 |-- ATA Airlines1: string (nullable = true)
 |-- TZ2: string (nullable = true)
 |-- ATA Airlines3: string (nullable = true)
 |-- TZ4: string (nullable = true)
 |-- Domestic: string (nullable = true)
 |-- US: string (nullable = true)
 |-- Deplaned: string (nullable = true)
 |-- Low Fare: string (nullable = true)
 |-- 2727111: integer (nullable = true)
 |-- 2727113: integer (nullable = true)

In [11]:
df.show()

+------+---------------+---+---------------+---+-------------+-------------------+--------------+--------+-------+-------+
|200507|  ATA Airlines1|TZ2|  ATA Airlines3|TZ4|     Domestic|                 US|      Deplaned|Low Fare|2727111|2727113|
+------+---------------+---+---------------+---+-------------+-------------------+--------------+--------+-------+-------+
|200507|   ATA Airlines| TZ|   ATA Airlines| TZ|     Domestic|                 US|      Enplaned|Low Fare|  29131|  29131|
|200507|   ATA Airlines| TZ|   ATA Airlines| TZ|     Domestic|                 US|Thru / Transit|Low Fare|   5415|  10830|
|200507|    Air Canada | AC|    Air Canada | AC|International|             Canada|      Deplaned|   Other|  35156|  35156|
|200507|    Air Canada | AC|    Air Canada | AC|International|             Canada|      Enplaned|   Other|  34090|  34090|
|200507|      Air China| CA|      Air China| CA|International|               Asia|      Deplaned|   Other|   6263|   6263|
|200507|      Air China| CA|      Air China| CA|International|               Asia|      Enplaned|   Other|   5500|   5500|
|200507|     Air France| AF|     Air France| AF|International|             Europe|      Deplaned|   Other|  12050|  12050|
|200507|     Air France| AF|     Air France| AF|International|             Europe|      Enplaned|   Other|  11638|  11638|
|200507|Air New Zealand| NZ|Air New Zealand| NZ|International|Australia / Oceania|      Deplaned|   Other|   4998|   4998|
|200507|Air New Zealand| NZ|Air New Zealand| NZ|International|Australia / Oceania|      Enplaned|   Other|   4962|   4962|
|200507|AirTran Airways| FL|AirTran Airways| FL|     Domestic|                 US|      Deplaned|Low Fare|   8055|   8055|
|200507|AirTran Airways| FL|AirTran Airways| FL|     Domestic|                 US|      Enplaned|Low Fare|   7984|   7984|
|200507|Alaska Airlines| AS|Alaska Airlines| AS|     Domestic|                 US|      Deplaned|   Other|  36641|  36641|
|200507|Alaska Airlines| AS|Alaska Airlines| AS|     Domestic|                 US|      Enplaned|   Other|  39379|  39379|
|200507|Alaska Airlines| AS|Alaska Airlines| AS|     Domestic|                 US|Thru / Transit|   Other|   3678|   7356|
|200507|Alaska Airlines| AS|Alaska Airlines| AS|International|             Canada|      Deplaned|   Other|   7977|   7977|
|200507|Alaska Airlines| AS|Alaska Airlines| AS|International|             Canada|      Enplaned|   Other|   8837|   8837|
|200507|Alaska Airlines| AS|Alaska Airlines| AS|International|             Mexico|      Deplaned|   Other|   6969|   6969|
|200507|Alaska Airlines| AS|Alaska Airlines| AS|International|             Mexico|      Enplaned|   Other|  10046|  10046|
|200507|Alaska Airlines| AS|Alaska Airlines| AS|International|             Mexico|Thru / Transit|   Other|   2266|   4532|
+------+---------------+---+---------------+---+-------------+-------------------+--------------+--------+-------+-------+
only showing top 20 rows

In [12]:
df.na.drop().show() # Dropping all null values

+------+---------------+---+---------------+---+-------------+-------------------+--------------+--------+-------+-------+
|200507|  ATA Airlines1|TZ2|  ATA Airlines3|TZ4|     Domestic|                 US|      Deplaned|Low Fare|2727111|2727113|
+------+---------------+---+---------------+---+-------------+-------------------+--------------+--------+-------+-------+
|200507|   ATA Airlines| TZ|   ATA Airlines| TZ|     Domestic|                 US|      Enplaned|Low Fare|  29131|  29131|
|200507|   ATA Airlines| TZ|   ATA Airlines| TZ|     Domestic|                 US|Thru / Transit|Low Fare|   5415|  10830|
|200507|    Air Canada | AC|    Air Canada | AC|International|             Canada|      Deplaned|   Other|  35156|  35156|
|200507|    Air Canada | AC|    Air Canada | AC|International|             Canada|      Enplaned|   Other|  34090|  34090|
|200507|      Air China| CA|      Air China| CA|International|               Asia|      Deplaned|   Other|   6263|   6263|
|200507|      Air China| CA|      Air China| CA|International|               Asia|      Enplaned|   Other|   5500|   5500|
|200507|     Air France| AF|     Air France| AF|International|             Europe|      Deplaned|   Other|  12050|  12050|
|200507|     Air France| AF|     Air France| AF|International|             Europe|      Enplaned|   Other|  11638|  11638|
|200507|Air New Zealand| NZ|Air New Zealand| NZ|International|Australia / Oceania|      Deplaned|   Other|   4998|   4998|
|200507|Air New Zealand| NZ|Air New Zealand| NZ|International|Australia / Oceania|      Enplaned|   Other|   4962|   4962|
|200507|AirTran Airways| FL|AirTran Airways| FL|     Domestic|                 US|      Deplaned|Low Fare|   8055|   8055|
|200507|AirTran Airways| FL|AirTran Airways| FL|     Domestic|                 US|      Enplaned|Low Fare|   7984|   7984|
|200507|Alaska Airlines| AS|Alaska Airlines| AS|     Domestic|                 US|      Deplaned|   Other|  36641|  36641|
|200507|Alaska Airlines| AS|Alaska Airlines| AS|     Domestic|                 US|      Enplaned|   Other|  39379|  39379|
|200507|Alaska Airlines| AS|Alaska Airlines| AS|     Domestic|                 US|Thru / Transit|   Other|   3678|   7356|
|200507|Alaska Airlines| AS|Alaska Airlines| AS|International|             Canada|      Deplaned|   Other|   7977|   7977|
|200507|Alaska Airlines| AS|Alaska Airlines| AS|International|             Canada|      Enplaned|   Other|   8837|   8837|
|200507|Alaska Airlines| AS|Alaska Airlines| AS|International|             Mexico|      Deplaned|   Other|   6969|   6969|
|200507|Alaska Airlines| AS|Alaska Airlines| AS|International|             Mexico|      Enplaned|   Other|  10046|  10046|
|200507|Alaska Airlines| AS|Alaska Airlines| AS|International|             Mexico|Thru / Transit|   Other|   2266|   4532|
+------+---------------+---+---------------+---+-------------+-------------------+--------------+--------+-------+-------+
only showing top 20 rows

In [19]:
df.withColumnRenamed("2727111","Passesnger_Count").printSchema()
df.withColumnRenamed("2727113","Adjusted_Passesnger_Count").printSchema()

root
 |-- 200507: integer (nullable = true)
 |-- ATA Airlines1: string (nullable = true)
 |-- TZ2: string (nullable = true)
 |-- ATA Airlines3: string (nullable = true)
 |-- TZ4: string (nullable = true)
 |-- Domestic: string (nullable = true)
 |-- US: string (nullable = true)
 |-- Deplaned: string (nullable = true)
 |-- Low Fare: string (nullable = true)
 |-- Passesnger_Count: integer (nullable = true)
 |-- 2727113: integer (nullable = true)

root
 |-- 200507: integer (nullable = true)
 |-- ATA Airlines1: string (nullable = true)
 |-- TZ2: string (nullable = true)
 |-- ATA Airlines3: string (nullable = true)
 |-- TZ4: string (nullable = true)
 |-- Domestic: string (nullable = true)
 |-- US: string (nullable = true)
 |-- Deplaned: string (nullable = true)
 |-- Low Fare: string (nullable = true)
 |-- 2727111: integer (nullable = true)
 |-- Adjusted_Passesnger_Count: integer (nullable = true)

In [20]:
df.columns

['200507',
 'ATA Airlines1',
 'TZ2',
 'ATA Airlines3',
 'TZ4',
 'Domestic',
 'US',
 'Deplaned',
 'Low Fare',
 '2727111',
 '2727113']

In [21]:
df.columns

['200507',
 'ATA Airlines1',
 'TZ2',
 'ATA Airlines3',
 'TZ4',
 'Domestic',
 'US',
 'Deplaned',
 'Low Fare',
 '2727111',
 '2727113']

In [23]:
Data_list = ['200507',
 'ATA Airlines1',
 'TZ2',
 'ATA Airlines3',
 'TZ4',
 'Domestic',
 'US',
 'Deplaned',
 'Low Fare',
 'Passesnger_Count',
 'Adjust_Passesnger_Count']
 
data = df.toDF(*Data_list)
data.show()

+------+---------------+---+---------------+---+-------------+-------------------+--------------+--------+----------------+-----------------------+
|200507|  ATA Airlines1|TZ2|  ATA Airlines3|TZ4|     Domestic|                 US|      Deplaned|Low Fare|Passesnger_Count|Adjust_Passesnger_Count|
+------+---------------+---+---------------+---+-------------+-------------------+--------------+--------+----------------+-----------------------+
|200507|   ATA Airlines| TZ|   ATA Airlines| TZ|     Domestic|                 US|      Enplaned|Low Fare|           29131|                  29131|
|200507|   ATA Airlines| TZ|   ATA Airlines| TZ|     Domestic|                 US|Thru / Transit|Low Fare|            5415|                  10830|
|200507|    Air Canada | AC|    Air Canada | AC|International|             Canada|      Deplaned|   Other|           35156|                  35156|
|200507|    Air Canada | AC|    Air Canada | AC|International|             Canada|      Enplaned|   Other|           34090|                  34090|
|200507|      Air China| CA|      Air China| CA|International|               Asia|      Deplaned|   Other|            6263|                   6263|
|200507|      Air China| CA|      Air China| CA|International|               Asia|      Enplaned|   Other|            5500|                   5500|
|200507|     Air France| AF|     Air France| AF|International|             Europe|      Deplaned|   Other|           12050|                  12050|
|200507|     Air France| AF|     Air France| AF|International|             Europe|      Enplaned|   Other|           11638|                  11638|
|200507|Air New Zealand| NZ|Air New Zealand| NZ|International|Australia / Oceania|      Deplaned|   Other|            4998|                   4998|
|200507|Air New Zealand| NZ|Air New Zealand| NZ|International|Australia / Oceania|      Enplaned|   Other|            4962|                   4962|
|200507|AirTran Airways| FL|AirTran Airways| FL|     Domestic|                 US|      Deplaned|Low Fare|            8055|                   8055|
|200507|AirTran Airways| FL|AirTran Airways| FL|     Domestic|                 US|      Enplaned|Low Fare|            7984|                   7984|
|200507|Alaska Airlines| AS|Alaska Airlines| AS|     Domestic|                 US|      Deplaned|   Other|           36641|                  36641|
|200507|Alaska Airlines| AS|Alaska Airlines| AS|     Domestic|                 US|      Enplaned|   Other|           39379|                  39379|
|200507|Alaska Airlines| AS|Alaska Airlines| AS|     Domestic|                 US|Thru / Transit|   Other|            3678|                   7356|
|200507|Alaska Airlines| AS|Alaska Airlines| AS|International|             Canada|      Deplaned|   Other|            7977|                   7977|
|200507|Alaska Airlines| AS|Alaska Airlines| AS|International|             Canada|      Enplaned|   Other|            8837|                   8837|
|200507|Alaska Airlines| AS|Alaska Airlines| AS|International|             Mexico|      Deplaned|   Other|            6969|                   6969|
|200507|Alaska Airlines| AS|Alaska Airlines| AS|International|             Mexico|      Enplaned|   Other|           10046|                  10046|
|200507|Alaska Airlines| AS|Alaska Airlines| AS|International|             Mexico|Thru / Transit|   Other|            2266|                   4532|
+------+---------------+---+---------------+---+-------------+-------------------+--------------+--------+----------------+-----------------------+
only showing top 20 rows

In [33]:
data.select(skewness("Passesnger_Count"), kurtosis("Passesnger_Count")).show()

+--------------------------+--------------------------+
|skewness(Passesnger_Count)|kurtosis(Passesnger_Count)|
+--------------------------+--------------------------+
|         5.317637477302453|        31.792673966706005|
+--------------------------+--------------------------+

In [31]:
data.select(var_pop("Passesnger_Count"),var_samp("Passesnger_Count"), stddev("Passesnger_Count"),stddev_samp("Passesnger_Count")).show()

+-------------------------+--------------------------+-----------------------------+-----------------------------+
|var_pop(Passesnger_Count)|var_samp(Passesnger_Count)|stddev_samp(Passesnger_Count)|stddev_samp(Passesnger_Count)|
+-------------------------+--------------------------+-----------------------------+-----------------------------+
|      3.000224203653493E9|      3.0045535315086927E9|           54813.807854487655|           54813.807854487655|
+-------------------------+--------------------------+-----------------------------+-----------------------------+

In [35]:
for i in data.columns:
  print(i)

200507
ATA Airlines1
TZ2
ATA Airlines3
TZ4
Domestic
US
Deplaned
Low Fare
Passesnger_Count
Adjust_Passesnger_Count

In [37]:
for i in data.columns:
  data.groupBy(i).count().show()

+------+-----+
|200507|count|
+------+-----+
|200511|  113|
|200508|  118|
|200510|  118|
|200507|  114|
|200512|  112|
|200509|  119|
+------+-----+

+--------------------+-----+
|       ATA Airlines1|count|
+--------------------+-----+
|          Icelandair|    8|
|      Cathay Pacific|   12|
| Philippine Airlines|   12|
|United Airlines -...|  127|
|    Independence Air|   10|
|Miami Air Interna...|    1|
|          Air France|   12|
|      Japan Airlines|   12|
|    Midwest Airlines|   12|
|   Mexicana Airlines|   12|
|         Air Canada |   12|
|  Northwest Airlines|   24|
|Sun Country Airlines|   12|
|        Horizon Air |   12|
|     United Airlines|   12|
|     British Airways|   12|
|   Hawaiian Airlines|   12|
|     Virgin Atlantic|   12|
|                TACA|   12|
|KLM Royal Dutch A...|   12|
+--------------------+-----+
only showing top 20 rows

+---+-----+
|TZ2|count|
+---+-----+
| CI|   12|
| FI|    8|
|US |   24|
| UA|  139|
| AA|   12|
| MX|   12|
| GL|    1|
| NW|   24|
| EV|    4|
| CX|   12|
| NH|   12|
| KL|   12|
| CA|   12|
| DL|   20|
| BR|   12|
| 4T|    6|
| OO|   36|
| F9|   12|
| YV|   12|
| TZ|   19|
+---+-----+
only showing top 20 rows

+--------------------+-----+
|       ATA Airlines3|count|
+--------------------+-----+
|          Icelandair|    8|
|      Cathay Pacific|   12|
| Philippine Airlines|   12|
|United Airlines -...|  151|
|    Independence Air|   10|
|Miami Air Interna...|    1|
|          Air France|   12|
|      Japan Airlines|   12|
|    Midwest Airlines|   12|
|   Mexicana Airlines|   12|
|         Air Canada |   14|
|  Northwest Airlines|   24|
|Sun Country Airlines|   12|
|     United Airlines|   12|
|     British Airways|   12|
|   Hawaiian Airlines|   12|
|     Virgin Atlantic|   12|
|                TACA|   12|
|KLM Royal Dutch A...|   12|
|      Boeing Company|    1|
+--------------------+-----+
only showing top 20 rows

+---+-----+
|TZ4|count|
+---+-----+
| CI|   12|
| FI|    8|
|US |   36|
| UA|  163|
| AA|   24|
| MX|   12|
| GL|    1|
| NW|   24|
| CX|   12|
| NH|   12|
| KL|   12|
| CA|   12|
| DL|   36|
| BR|   12|
| 4T|    6|
| F9|   12|
| TZ|   19|
| LH|   12|
| VS|   12|
| HA|   12|
+---+-----+
only showing top 20 rows

+-------------+-----+
|     Domestic|count|
+-------------+-----+
|International|  405|
|     Domestic|  289|
+-------------+-----+

+-------------------+-----+
|                 US|count|
+-------------------+-----+
|             Europe|   92|
|    Central America|   12|
|                 US|  289|
|             Mexico|   48|
|             Canada|   73|
|Australia / Oceania|   30|
|               Asia|  150|
+-------------------+-----+

+--------------+-----+
|      Deplaned|count|
+--------------+-----+
|      Enplaned|  317|
|Thru / Transit|   59|
|      Deplaned|  318|
+--------------+-----+

+--------+-----+
|Low Fare|count|
+--------+-----+
|   Other|  597|
|Low Fare|   97|
+--------+-----+

+----------------+-----+
|Passesnger_Count|count|
+----------------+-----+
|            6658|    1|
|            8086|    1|
|           34878|    1|
|           19200|    1|
|           26801|    1|
|            9383|    1|
|            6559|    1|
|            7850|    1|
|            3986|    1|
|            6962|    1|
|            7324|    1|
|            3790|    1|
|           33243|    1|
|            5847|    1|
|           22389|    1|
|           27472|    1|
|            5140|    1|
|            4583|    1|
|            5929|    1|
|            8612|    1|
+----------------+-----+
only showing top 20 rows

+-----------------------+-----+
|Adjust_Passesnger_Count|count|
+-----------------------+-----+
|                   6658|    1|
|                   8086|    1|
|                  34878|    1|
|                  19200|    1|
|                  26801|    1|
|                   1352|    1|
|                   9383|    1|
|                   6559|    1|
|                   7850|    1|
|                   3986|    1|
|                   6962|    1|
|                   7324|    1|
|                   3790|    1|
|                  33243|    1|
|                   5847|    1|
|                  22389|    1|
|                  27472|    1|
|                   5140|    1|
|                   4583|    1|
|                   5929|    1|
+-----------------------+-----+
only showing top 20 rows

In [40]:
for i in data.columns:
  data.groupBy(i,'Passesnger_Count').count().show()

+------+----------------+-----+
|200507|Passesnger_Count|count|
+------+----------------+-----+
|200507|            9672|    1|
|200509|            1504|    1|
|200510|           10360|    1|
|200507|           29283|    1|
|200508|           11230|    1|
|200508|            5946|    1|
|200509|            5218|    1|
|200509|           50133|    1|
|200510|            8919|    1|
|200512|           90313|    1|
|200512|            9418|    1|
|200508|           11731|    1|
|200509|            7057|    1|
|200509|            4823|    1|
|200511|            5921|    1|
|200511|           47813|    1|
|200512|            4261|    1|
|200510|           14694|    1|
|200511|            6199|    1|
|200508|            9333|    1|
+------+----------------+-----+
only showing top 20 rows

+--------------------+----------------+-----+
|       ATA Airlines1|Passesnger_Count|count|
+--------------------+----------------+-----+
|     Alaska Airlines|           39379|    1|
|United Airlines -...|            1264|    1|
|KLM Royal Dutch A...|            9881|    1|
|United Airlines -...|             476|    1|
|     Delta Air Lines|           68347|    1|
|Sun Country Airlines|            4717|    1|
|United Airlines -...|             158|    1|
|   Frontier Airlines|           13049|    1|
|     Alaska Airlines|            3843|    1|
|United Airlines -...|             230|    1|
|        Horizon Air |            4470|    1|
|          Air France|            7121|    1|
|    SkyWest Airlines|            6431|    1|
|          Air France|            7158|    1|
|     Delta Air Lines|           22322|    1|
|    SkyWest Airlines|          102254|    1|
|    Korean Air Lines|            6153|    1|
|                TACA|            4259|    1|
|American Eagle Ai...|            5213|    1|
|     British Airways|           21686|    1|
+--------------------+----------------+-----+
only showing top 20 rows

+---+----------------+-----+
|TZ2|Passesnger_Count|count|
+---+----------------+-----+
| UA|           26098|    1|
| UA|          355445|    1|
| AA|          160890|    1|
| NW|            7229|    1|
| NW|           48138|    1|
| UA|             158|    1|
| MQ|            4313|    1|
| SQ|           19192|    1|
| UA|           62840|    1|
| BR|           14142|    1|
| MX|            5946|    1|
| HA|            6792|    1|
| OO|           89742|    1|
| NH|            6545|    1|
| VS|           11084|    1|
| BA|           20635|    1|
| OO|            3719|    1|
| TZ|           16855|    1|
| NW|            6520|    1|
| AF|           10796|    1|
+---+----------------+-----+
only showing top 20 rows

+--------------------+----------------+-----+
|       ATA Airlines3|Passesnger_Count|count|
+--------------------+----------------+-----+
|     Alaska Airlines|           39379|    1|
|United Airlines -...|            1264|    1|
|KLM Royal Dutch A...|            9881|    1|
|United Airlines -...|             476|    1|
|     Delta Air Lines|           68347|    1|
|     Delta Air Lines|            6666|    1|
|Sun Country Airlines|            4717|    1|
|United Airlines -...|             158|    1|
|   Frontier Airlines|           13049|    1|
|United Airlines -...|            3188|    1|
|     Alaska Airlines|            3843|    1|
|United Airlines -...|             230|    1|
|          Air France|            7121|    1|
|          Air France|            7158|    1|
|     Delta Air Lines|           22322|    1|
|    Korean Air Lines|            6153|    1|
|                TACA|            4259|    1|
|     British Airways|           21686|    1|
|     Delta Air Lines|            6472|    1|
|     British Airways|           18988|    1|
+--------------------+----------------+-----+
only showing top 20 rows

+---+----------------+-----+
|TZ4|Passesnger_Count|count|
+---+----------------+-----+
| UA|           26098|    1|
| UA|          355445|    1|
| AA|          160890|    1|
| NW|            7229|    1|
| NW|           48138|    1|
| UA|             158|    1|
| SQ|           19192|    1|
| UA|           62840|    1|
| BR|           14142|    1|
| MX|            5946|    1|
| AS|            4096|    1|
| HA|            6792|    1|
| NH|            6545|    1|
| VS|           11084|    1|
| DL|            6553|    1|
| DL|            6652|    1|
| UA|            3570|    1|
| BA|           20635|    1|
| UA|            3457|    1|
| TZ|           16855|    1|
+---+----------------+-----+
only showing top 20 rows

+-------------+----------------+-----+
|     Domestic|Passesnger_Count|count|
+-------------+----------------+-----+
|International|            9562|    1|
|International|           11311|    1|
|     Domestic|           40712|    1|
|International|            9931|    1|
|International|           62403|    1|
|International|            5011|    1|
|     Domestic|            2984|    1|
|International|           13638|    1|
|International|           34878|    1|
|     Domestic|          101134|    1|
|     Domestic|           46200|    1|
|     Domestic|           47813|    1|
|     Domestic|           16790|    1|
|International|           11266|    1|
|     Domestic|            4412|    1|
|International|            7875|    1|
|International|              96|    1|
|International|            8048|    1|
|International|            8919|    1|
|     Domestic|           34920|    1|
+-------------+----------------+-----+
only showing top 20 rows

+------+----------------+-----+
|    US|Passesnger_Count|count|
+------+----------------+-----+
|    US|            7579|    1|
|    US|            2535|    1|
|    US|           44508|    1|
|    US|            4313|    1|
|  Asia|           11032|    1|
|    US|            7737|    1|
|Canada|             793|    1|
|    US|           46907|    1|
|Canada|              40|    1|
|    US|            7195|    1|
|    US|           26801|    1|
|    US|           47525|    1|
|  Asia|            9874|    1|
|    US|           46348|    1|
|Europe|           12050|    1|
|Canada|            3570|    1|
|  Asia|            7875|    1|
|  Asia|            5669|    1|
|    US|            6806|    1|
|Europe|            9604|    1|
+------+----------------+-----+
only showing top 20 rows

+--------------+----------------+-----+
|      Deplaned|Passesnger_Count|count|
+--------------+----------------+-----+
|      Deplaned|            5940|    1|
|      Deplaned|            9571|    1|
|      Deplaned|            8612|    1|
|      Enplaned|           68278|    1|
|      Deplaned|            4669|    1|
|      Deplaned|           38737|    1|
|      Enplaned|            1638|    1|
|      Deplaned|            7579|    1|
|      Deplaned|           55842|    1|
|      Deplaned|            4344|    1|
|      Enplaned|             509|    1|
|      Enplaned|           97160|    1|
|      Deplaned|           17109|    1|
|      Deplaned|             809|    1|
|Thru / Transit|            7299|    1|
|      Deplaned|            5493|    1|
|      Deplaned|            2480|    1|
|      Enplaned|            2211|    1|
|      Deplaned|            5168|    1|
|      Deplaned|            4085|    1|
+--------------+----------------+-----+
only showing top 20 rows

+--------+----------------+-----+
|Low Fare|Passesnger_Count|count|
+--------+----------------+-----+
|   Other|            7751|    2|
|Low Fare|            5218|    1|
|   Other|            7924|    1|
|   Other|            6792|    1|
|   Other|            4474|    1|
|   Other|            3843|    1|
|   Other|             759|    1|
|   Other|           22422|    1|
|   Other|           34920|    1|
|   Other|            4768|    1|
|   Other|            2535|    1|
|   Other|            1253|    1|
|   Other|            9751|    1|
|   Other|           57401|    1|
|   Other|            4823|    1|
|   Other|            1326|    1|
|   Other|           96832|    1|
|Low Fare|            3508|    1|
|   Other|            6153|    1|
|Low Fare|           21390|    1|
+--------+----------------+-----+
only showing top 20 rows

+----------------+----------------+-----+
|Passesnger_Count|Passesnger_Count|count|
+----------------+----------------+-----+
|            6658|            6658|    1|
|            8086|            8086|    1|
|           34878|           34878|    1|
|           19200|           19200|    1|
|           26801|           26801|    1|
|            9383|            9383|    1|
|            6559|            6559|    1|
|            7850|            7850|    1|
|            3986|            3986|    1|
|            6962|            6962|    1|
|            7324|            7324|    1|
|            3790|            3790|    1|
|           33243|           33243|    1|
|            5847|            5847|    1|
|           22389|           22389|    1|
|           27472|           27472|    1|
|            5140|            5140|    1|
|            4583|            4583|    1|
|            5929|            5929|    1|
|            8612|            8612|    1|
+----------------+----------------+-----+
only showing top 20 rows

+-----------------------+----------------+-----+
|Adjust_Passesnger_Count|Passesnger_Count|count|
+-----------------------+----------------+-----+
|                  20635|           20635|    1|
|                   9486|            9486|    1|
|                  14598|            7299|    1|
|                  25505|           25505|    1|
|                   5041|            5041|    1|
|                  21571|           21571|    1|
|                  17826|            8913|    1|
|                  42622|           42622|    1|
|                   1158|            1158|    1|
|                   4672|            4672|    1|
|                   7357|            7357|    1|
|                  20535|           20535|    1|
|                   2506|            1253|    1|
|                  11792|           11792|    1|
|                  15019|           15019|    1|
|                 102899|          102899|    1|
|                   5123|            5123|    1|
|                   1638|            1638|    1|
|                  10830|            5415|    1|
|                   6324|            6324|    1|
+-----------------------+----------------+-----+
only showing top 20 rows

In [41]:
for i in data.columns:
  data.groupBy(i,'Adjust_Passesnger_Count').count().show()

+------+-----------------------+-----+
|200507|Adjust_Passesnger_Count|count|
+------+-----------------------+-----+
|200507|                   9672|    1|
|200510|                  10360|    1|
|200507|                  29283|    1|
|200508|                  11230|    1|
|200508|                   5946|    1|
|200509|                   5218|    1|
|200509|                  50133|    1|
|200510|                   8919|    1|
|200512|                  90313|    1|
|200512|                   9418|    1|
|200508|                  11731|    1|
|200509|                   7057|    1|
|200509|                   4823|    1|
|200511|                   5921|    1|
|200511|                  47813|    1|
|200512|                   4261|    1|
|200510|                  14694|    1|
|200511|                   6199|    1|
|200508|                   9333|    1|
|200508|                   2725|    1|
+------+-----------------------+-----+
only showing top 20 rows

+--------------------+-----------------------+-----+
|       ATA Airlines1|Adjust_Passesnger_Count|count|
+--------------------+-----------------------+-----+
|     Alaska Airlines|                  39379|    1|
|KLM Royal Dutch A...|                   9881|    1|
|United Airlines -...|                   2048|    1|
|     Delta Air Lines|                  68347|    1|
|Sun Country Airlines|                   4717|    1|
|   Frontier Airlines|                  13049|    1|
|        Horizon Air |                   4470|    1|
|          Air France|                   7121|    1|
|    SkyWest Airlines|                   6431|    1|
|          Air France|                   7158|    1|
|     Delta Air Lines|                  22322|    1|
|    SkyWest Airlines|                 102254|    1|
|    Korean Air Lines|                   6153|    1|
|                TACA|                   4259|    1|
|American Eagle Ai...|                   5213|    1|
|     British Airways|                  21686|    1|
|United Airlines -...|                   1726|    1|
|United Airlines -...|                    952|    1|
|        Horizon Air |                   4401|    1|
|     British Airways|                  18988|    1|
+--------------------+-----------------------+-----+
only showing top 20 rows

+---+-----------------------+-----+
|TZ2|Adjust_Passesnger_Count|count|
+---+-----------------------+-----+
| UA|                  26098|    1|
| UA|                 355445|    1|
| AA|                 160890|    1|
| NW|                   7229|    1|
| NW|                  48138|    1|
| MQ|                   4313|    1|
| SQ|                  19192|    1|
| UA|                   2092|    1|
| UA|                  62840|    1|
| BR|                  14142|    1|
| MX|                   5946|    1|
| HA|                   6792|    1|
| OO|                  89742|    1|
| NH|                   6545|    1|
| UA|                     20|    2|
| UA|                     90|    1|
| VS|                  11084|    1|
| UA|                   8118|    1|
| BA|                  20635|    1|
| OO|                   3719|    1|
+---+-----------------------+-----+
only showing top 20 rows

+--------------------+-----------------------+-----+
|       ATA Airlines3|Adjust_Passesnger_Count|count|
+--------------------+-----------------------+-----+
|     Alaska Airlines|                  39379|    1|
|KLM Royal Dutch A...|                   9881|    1|
|United Airlines -...|                   2048|    1|
|     Delta Air Lines|                  68347|    1|
|     Delta Air Lines|                   6666|    1|
|Sun Country Airlines|                   4717|    1|
|   Frontier Airlines|                  13049|    1|
|United Airlines -...|                   3188|    1|
|          Air France|                   7121|    1|
|          Air France|                   7158|    1|
|     Delta Air Lines|                  22322|    1|
|    Korean Air Lines|                   6153|    1|
|                TACA|                   4259|    1|
|     British Airways|                  21686|    1|
|United Airlines -...|                   1726|    1|
|     Delta Air Lines|                   6472|    1|
|United Airlines -...|                    952|    1|
|     British Airways|                  18988|    1|
|     Air New Zealand|                   4583|    1|
|      China Airlines|                   9680|    1|
+--------------------+-----------------------+-----+
only showing top 20 rows

+---+-----------------------+-----+
|TZ4|Adjust_Passesnger_Count|count|
+---+-----------------------+-----+
| UA|                  26098|    1|
| UA|                 355445|    1|
| AA|                 160890|    1|
| NW|                   7229|    1|
| NW|                  48138|    1|
| SQ|                  19192|    1|
| UA|                   2092|    1|
| UA|                  62840|    1|
| BR|                  14142|    1|
| MX|                   5946|    1|
| AS|                   4096|    1|
| HA|                   6792|    1|
| NH|                   6545|    1|
| UA|                     20|    2|
| UA|                     90|    1|
| VS|                  11084|    1|
| DL|                   6553|    1|
| DL|                   6652|    1|
| UA|                   3570|    1|
| UA|                   8118|    1|
+---+-----------------------+-----+
only showing top 20 rows

+-------------+-----------------------+-----+
|     Domestic|Adjust_Passesnger_Count|count|
+-------------+-----------------------+-----+
|International|                   4532|    1|
|International|                   9562|    1|
|International|                  11311|    1|
|     Domestic|                  40712|    1|
|International|                   9931|    1|
|International|                  62403|    1|
|International|                   5011|    1|
|     Domestic|                   2984|    1|
|International|                  13638|    1|
|International|                  34878|    1|
|     Domestic|                 101134|    1|
|     Domestic|                  46200|    1|
|     Domestic|                  47813|    1|
|     Domestic|                  16790|    1|
|International|                  11266|    1|
|International|                   7875|    1|
|     Domestic|                   7846|    1|
|International|                   8048|    1|
|International|                   8919|    1|
|     Domestic|                  34920|    1|
+-------------+-----------------------+-----+
only showing top 20 rows

+------+-----------------------+-----+
|    US|Adjust_Passesnger_Count|count|
+------+-----------------------+-----+
|    US|                   7579|    1|
|    US|                   2535|    1|
|    US|                  44508|    1|
|    US|                   4313|    1|
|  Asia|                  11032|    1|
|    US|                   7737|    1|
|    US|                  46907|    1|
|    US|                   7195|    1|
|    US|                  26801|    1|
|    US|                  47525|    1|
|  Asia|                   9874|    1|
|    US|                  46348|    1|
|Europe|                  12050|    1|
|Canada|                   3570|    1|
|  Asia|                   7875|    1|
|  Asia|                   5669|    1|
|    US|                   6806|    1|
|Europe|                   9604|    1|
|  Asia|                   9050|    1|
|Canada|                   3672|    1|
+------+-----------------------+-----+
only showing top 20 rows

+--------------+-----------------------+-----+
|      Deplaned|Adjust_Passesnger_Count|count|
+--------------+-----------------------+-----+
|      Deplaned|                   5940|    1|
|      Deplaned|                   9571|    1|
|      Deplaned|                   8612|    1|
|      Enplaned|                  68278|    1|
|      Deplaned|                   4669|    1|
|      Deplaned|                  38737|    1|
|      Enplaned|                   1638|    1|
|      Deplaned|                   7579|    1|
|      Deplaned|                  55842|    1|
|      Deplaned|                   4344|    1|
|      Enplaned|                    509|    1|
|      Enplaned|                  97160|    1|
|      Deplaned|                  17109|    1|
|      Deplaned|                    809|    1|
|      Deplaned|                   5493|    1|
|      Deplaned|                   2480|    1|
|      Enplaned|                   2211|    1|
|      Deplaned|                   5168|    1|
|      Deplaned|                   4085|    1|
|Thru / Transit|                     90|    1|
+--------------+-----------------------+-----+
only showing top 20 rows

+--------+-----------------------+-----+
|Low Fare|Adjust_Passesnger_Count|count|
+--------+-----------------------+-----+
|   Other|                   7751|    2|
|Low Fare|                   5218|    1|
|   Other|                   7924|    1|
|   Other|                   6792|    1|
|   Other|                   4474|    1|
|   Other|                  22422|    1|
|   Other|                  34920|    1|
|   Other|                   4768|    1|
|   Other|                   2535|    1|
|   Other|                   9751|    1|
|   Other|                   1218|    1|
|   Other|                  57401|    1|
|   Other|                    952|    1|
|   Other|                   4823|    1|
|   Other|                   1326|    1|
|   Other|                    128|    1|
|   Other|                  96832|    1|
|Low Fare|                   3508|    1|
|   Other|                   6153|    1|
|Low Fare|                  21390|    1|
+--------+-----------------------+-----+
only showing top 20 rows

+----------------+-----------------------+-----+
|Passesnger_Count|Adjust_Passesnger_Count|count|
+----------------+-----------------------+-----+
|           20635|                  20635|    1|
|            9486|                   9486|    1|
|           25505|                  25505|    1|
|            5041|                   5041|    1|
|            3465|                   6930|    1|
|           21571|                  21571|    1|
|           42622|                  42622|    1|
|            1158|                   1158|    1|
|            4672|                   4672|    1|
|            7357|                   7357|    1|
|           20535|                  20535|    1|
|           11792|                  11792|    1|
|           15019|                  15019|    1|
|          102899|                 102899|    1|
|            5123|                   5123|    1|
|            3354|                   6708|    1|
|            1737|                   3474|    1|
|            1638|                   1638|    1|
|            6324|                   6324|    1|
|            6635|                   6635|    1|
+----------------+-----------------------+-----+
only showing top 20 rows

+-----------------------+-----------------------+-----+
|Adjust_Passesnger_Count|Adjust_Passesnger_Count|count|
+-----------------------+-----------------------+-----+
|                   6658|                   6658|    1|
|                   8086|                   8086|    1|
|                  34878|                  34878|    1|
|                  19200|                  19200|    1|
|                  26801|                  26801|    1|
|                   1352|                   1352|    1|
|                   9383|                   9383|    1|
|                   6559|                   6559|    1|
|                   7850|                   7850|    1|
|                   3986|                   3986|    1|
|                   6962|                   6962|    1|
|                   7324|                   7324|    1|
|                   3790|                   3790|    1|
|                  33243|                  33243|    1|
|                   5847|                   5847|    1|
|                  22389|                  22389|    1|
|                  27472|                  27472|    1|
|                   5140|                   5140|    1|
|                   4583|                   4583|    1|
|                   5929|                   5929|    1|
+-----------------------+-----------------------+-----+
only showing top 20 rows

In [42]:
from pyspark.ml.feature import Imputer

imputer = Imputer(
    inputCols=['Adjust_Passesnger_Count', 'Passesnger_Count'], 
    outputCols=["{}_imputed".format(c) for c in ['Adjust_Passesnger_Count', 'Passesnger_Count']]
    ).setStrategy("median")

In [43]:
imputer.fit(data).transform(data).show()

+------+---------------+---+---------------+---+-------------+-------------------+--------------+--------+----------------+-----------------------+-------------------------------+------------------------+
|200507|  ATA Airlines1|TZ2|  ATA Airlines3|TZ4|     Domestic|                 US|      Deplaned|Low Fare|Passesnger_Count|Adjust_Passesnger_Count|Adjust_Passesnger_Count_imputed|Passesnger_Count_imputed|
+------+---------------+---+---------------+---+-------------+-------------------+--------------+--------+----------------+-----------------------+-------------------------------+------------------------+
|200507|   ATA Airlines| TZ|   ATA Airlines| TZ|     Domestic|                 US|      Enplaned|Low Fare|           29131|                  29131|                          29131|                   29131|
|200507|   ATA Airlines| TZ|   ATA Airlines| TZ|     Domestic|                 US|Thru / Transit|Low Fare|            5415|                  10830|                          10830|                    5415|
|200507|    Air Canada | AC|    Air Canada | AC|International|             Canada|      Deplaned|   Other|           35156|                  35156|                          35156|                   35156|
|200507|    Air Canada | AC|    Air Canada | AC|International|             Canada|      Enplaned|   Other|           34090|                  34090|                          34090|                   34090|
|200507|      Air China| CA|      Air China| CA|International|               Asia|      Deplaned|   Other|            6263|                   6263|                           6263|                    6263|
|200507|      Air China| CA|      Air China| CA|International|               Asia|      Enplaned|   Other|            5500|                   5500|                           5500|                    5500|
|200507|     Air France| AF|     Air France| AF|International|             Europe|      Deplaned|   Other|           12050|                  12050|                          12050|                   12050|
|200507|     Air France| AF|     Air France| AF|International|             Europe|      Enplaned|   Other|           11638|                  11638|                          11638|                   11638|
|200507|Air New Zealand| NZ|Air New Zealand| NZ|International|Australia / Oceania|      Deplaned|   Other|            4998|                   4998|                           4998|                    4998|
|200507|Air New Zealand| NZ|Air New Zealand| NZ|International|Australia / Oceania|      Enplaned|   Other|            4962|                   4962|                           4962|                    4962|
|200507|AirTran Airways| FL|AirTran Airways| FL|     Domestic|                 US|      Deplaned|Low Fare|            8055|                   8055|                           8055|                    8055|
|200507|AirTran Airways| FL|AirTran Airways| FL|     Domestic|                 US|      Enplaned|Low Fare|            7984|                   7984|                           7984|                    7984|
|200507|Alaska Airlines| AS|Alaska Airlines| AS|     Domestic|                 US|      Deplaned|   Other|           36641|                  36641|                          36641|                   36641|
|200507|Alaska Airlines| AS|Alaska Airlines| AS|     Domestic|                 US|      Enplaned|   Other|           39379|                  39379|                          39379|                   39379|
|200507|Alaska Airlines| AS|Alaska Airlines| AS|     Domestic|                 US|Thru / Transit|   Other|            3678|                   7356|                           7356|                    3678|
|200507|Alaska Airlines| AS|Alaska Airlines| AS|International|             Canada|      Deplaned|   Other|            7977|                   7977|                           7977|                    7977|
|200507|Alaska Airlines| AS|Alaska Airlines| AS|International|             Canada|      Enplaned|   Other|            8837|                   8837|                           8837|                    8837|
|200507|Alaska Airlines| AS|Alaska Airlines| AS|International|             Mexico|      Deplaned|   Other|            6969|                   6969|                           6969|                    6969|
|200507|Alaska Airlines| AS|Alaska Airlines| AS|International|             Mexico|      Enplaned|   Other|           10046|                  10046|                          10046|                   10046|
|200507|Alaska Airlines| AS|Alaska Airlines| AS|International|             Mexico|Thru / Transit|   Other|            2266|                   4532|                           4532|                    2266|
+------+---------------+---+---------------+---+-------------+-------------------+--------------+--------+----------------+-----------------------+-------------------------------+------------------------+
only showing top 20 rows

In [44]:
from pyspark.ml.feature import VectorAssembler
featureassembler=VectorAssembler(inputCols=['Adjust_Passesnger_Count', 'Passesnger_Count'],outputCol="Independent Features")

In [45]:
output=featureassembler.transform(data)
output.show()

+------+---------------+---+---------------+---+-------------+-------------------+--------------+--------+----------------+-----------------------+--------------------+
|200507|  ATA Airlines1|TZ2|  ATA Airlines3|TZ4|     Domestic|                 US|      Deplaned|Low Fare|Passesnger_Count|Adjust_Passesnger_Count|Independent Features|
+------+---------------+---+---------------+---+-------------+-------------------+--------------+--------+----------------+-----------------------+--------------------+
|200507|   ATA Airlines| TZ|   ATA Airlines| TZ|     Domestic|                 US|      Enplaned|Low Fare|           29131|                  29131|   [29131.0,29131.0]|
|200507|   ATA Airlines| TZ|   ATA Airlines| TZ|     Domestic|                 US|Thru / Transit|Low Fare|            5415|                  10830|    [10830.0,5415.0]|
|200507|    Air Canada | AC|    Air Canada | AC|International|             Canada|      Deplaned|   Other|           35156|                  35156|   [35156.0,35156.0]|
|200507|    Air Canada | AC|    Air Canada | AC|International|             Canada|      Enplaned|   Other|           34090|                  34090|   [34090.0,34090.0]|
|200507|      Air China| CA|      Air China| CA|International|               Asia|      Deplaned|   Other|            6263|                   6263|     [6263.0,6263.0]|
|200507|      Air China| CA|      Air China| CA|International|               Asia|      Enplaned|   Other|            5500|                   5500|     [5500.0,5500.0]|
|200507|     Air France| AF|     Air France| AF|International|             Europe|      Deplaned|   Other|           12050|                  12050|   [12050.0,12050.0]|
|200507|     Air France| AF|     Air France| AF|International|             Europe|      Enplaned|   Other|           11638|                  11638|   [11638.0,11638.0]|
|200507|Air New Zealand| NZ|Air New Zealand| NZ|International|Australia / Oceania|      Deplaned|   Other|            4998|                   4998|     [4998.0,4998.0]|
|200507|Air New Zealand| NZ|Air New Zealand| NZ|International|Australia / Oceania|      Enplaned|   Other|            4962|                   4962|     [4962.0,4962.0]|
|200507|AirTran Airways| FL|AirTran Airways| FL|     Domestic|                 US|      Deplaned|Low Fare|            8055|                   8055|     [8055.0,8055.0]|
|200507|AirTran Airways| FL|AirTran Airways| FL|     Domestic|                 US|      Enplaned|Low Fare|            7984|                   7984|     [7984.0,7984.0]|
|200507|Alaska Airlines| AS|Alaska Airlines| AS|     Domestic|                 US|      Deplaned|   Other|           36641|                  36641|   [36641.0,36641.0]|
|200507|Alaska Airlines| AS|Alaska Airlines| AS|     Domestic|                 US|      Enplaned|   Other|           39379|                  39379|   [39379.0,39379.0]|
|200507|Alaska Airlines| AS|Alaska Airlines| AS|     Domestic|                 US|Thru / Transit|   Other|            3678|                   7356|     [7356.0,3678.0]|
|200507|Alaska Airlines| AS|Alaska Airlines| AS|International|             Canada|      Deplaned|   Other|            7977|                   7977|     [7977.0,7977.0]|
|200507|Alaska Airlines| AS|Alaska Airlines| AS|International|             Canada|      Enplaned|   Other|            8837|                   8837|     [8837.0,8837.0]|
|200507|Alaska Airlines| AS|Alaska Airlines| AS|International|             Mexico|      Deplaned|   Other|            6969|                   6969|     [6969.0,6969.0]|
|200507|Alaska Airlines| AS|Alaska Airlines| AS|International|             Mexico|      Enplaned|   Other|           10046|                  10046|   [10046.0,10046.0]|
|200507|Alaska Airlines| AS|Alaska Airlines| AS|International|             Mexico|Thru / Transit|   Other|            2266|                   4532|     [4532.0,2266.0]|
+------+---------------+---+---------------+---+-------------+-------------------+--------------+--------+----------------+-----------------------+--------------------+
only showing top 20 rows

In [46]:
finalized_data=output.select("Independent Features","Adjust_Passesnger_Count")
finalized_data.show()

+--------------------+-----------------------+
|Independent Features|Adjust_Passesnger_Count|
+--------------------+-----------------------+
|   [29131.0,29131.0]|                  29131|
|    [10830.0,5415.0]|                  10830|
|   [35156.0,35156.0]|                  35156|
|   [34090.0,34090.0]|                  34090|
|     [6263.0,6263.0]|                   6263|
|     [5500.0,5500.0]|                   5500|
|   [12050.0,12050.0]|                  12050|
|   [11638.0,11638.0]|                  11638|
|     [4998.0,4998.0]|                   4998|
|     [4962.0,4962.0]|                   4962|
|     [8055.0,8055.0]|                   8055|
|     [7984.0,7984.0]|                   7984|
|   [36641.0,36641.0]|                  36641|
|   [39379.0,39379.0]|                  39379|
|     [7356.0,3678.0]|                   7356|
|     [7977.0,7977.0]|                   7977|
|     [8837.0,8837.0]|                   8837|
|     [6969.0,6969.0]|                   6969|
|   [10046.0,10046.0]|                  10046|
|     [4532.0,2266.0]|                   4532|
+--------------------+-----------------------+
only showing top 20 rows